<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="Static\JS\Index.js"></script>
    <title>Document</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <a href="/Login" class="hide-on-login">Login</a>
    <a href="/Register" class="hide-on-login">Register</a>
    <a href="/Logout" class="show-on-login hidden">Logout</a>
    <a href="CreatePost" class="show-on-login hidden">Create Post</a>

    <div id="postsContainer">
        {{range .Posts}}
        <div class="post">
            <h2><a href="/Post?id={{.ID}}">{{.Title}}</a></h2>
            <p>{{.Content}}</p>
            <p>Categories: {{range .Categories}}{{.Name}}, {{end}}</p>
        </div>
        {{end}}
    </div>
</body>
</html>
